* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
  background: linear-gradient(135deg, #eaf4ff, #d6ebff, #f4f9ff);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    text-align: center;
    background: #ffffff;
    padding: 60px 80px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 123, 255, 0.15);
}

.container h1 {
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 15px;
}

.container h1 span {
    color: #2e7d32;
}

.container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 35px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn {
    background-color: #4caf50;
    color: white;
}

.register-btn {
    background-color: #43a047;
    color: white;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
